*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text

# Exclui todos os arquivos .html e .ipynb da contagem de linguagens do GitHub
*.html linguist-generated=true
*.ipynb linguist-generated=true
